<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes Recibidos</title>
</head>
<body>
    <h1>Mensajes Recibidos</h1>

    <!-- Formulario de busqueda para filtrar destinatarios-->
    <form method="get" action="{% url 'recibidos' %}" style="text-align: right; margin-bottom: 20px;">
        <label for="destinatario">Filtrar por destinatario:</label>
        <input type="text" id="destinatario" name="destinatario" value="{{ request.GET.destinatario }}" placeholder="Ingrese destinatario" 
    style="padding: 8px; width: 300px; margin-right: 10px;">
        <button type="submit" style="padding: 8px 16px;">Buscar</button>
    </form>

    <!-- Mostrar mensajes -->
    {% if mensajes %}
        <div style="margin: auto; width: 80%;">
            {% for mensaje in mensajes %}
                <div style="border: 1px solid #ddd; border-radius: 8px; padding: 15px; margin-bottom: 10px;">
                    <h3 style="margin: 0; color: #333;">Remitente: {{ mensaje.remitente }}</h3>
                    <p style="margin: 5px 0; color: #555;">{{ mensaje.texto }}</p>
                    <small style="color: #777;">Enviado el: {{ mensaje.fecha_envio }}</small>
                </div>
            {% endfor %}
        </div>
    {% elif request.GET.destinatario %}
        <p style="text-align: center; color: #000000;">No se encontraron mensajes para el destinatario "{{ request.GET.destinatario }}". Pruebe con otro destinatario</p>
    {% else %}
        <p style="text-align: center; color: #999;">No hay mensajes para mostrar.</p>
    {% endif %}
</body>
</html>
